.news {
    margin-top: 50px;
    &>.newsDivider {
        display: none;
    }
    &--item {
        margin-top: 30px;
        margin-bottom: 30px;
        strong {
            padding-top: 20px;
            font-size: 1.05rem;
            font-family: baseFont-bold;
            color: $color-leadingRed;
            display: block;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    }
}

.chevronBottom {
    display: none;
}

.newsDivider {
    border-top: 0.5px solid lightgrey;
}

.chevronWrapper {
    display: none;
    text-align: center;
    &--icon {
        width: 15px;
        height: 15px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $color-leadingRed;
        transform: rotate(135deg);
        margin: auto;
        transition: transform 300ms ease-in-out;
    }
}


/* medium screens */

@media #{$screen-medium} {
    .news {
        display: flex;
        flex-wrap: wrap;
        &>.newsDivider {
            width: 100%;
            display: block;
        }
        .news--item .newsDivider {
            display: none;
        }
        &>.news--item {
            flex: 1;
            padding-left: 40px;
        }
        .news--top {
            padding-right: 40px;
        }
        .news--date {
            width: 100%;
            order: 4;
        }
    }
}


/* medium & large screens */

@media #{$screen-mediumANDlarge} {
    .news {
        display: block;
        position: relative;
    }
    .news--item:first-of-type,
    .news--item:nth-of-type(2) {
        height: 50%;
    }
    .news--item:nth-of-type(3) {
        @include position-absolute(top, 10px, right, 0);
        height: 100%;
    }
    .news--item:nth-of-type(3) .news--item--body {
        margin-bottom: 0;
    }
    .news--item {
        width: 50%;
        margin: 0;
    }
    .news .news--date {
        @include position-absolute(bottom, 10px, right, 0);
        text-align: right;
    }
}


/* large screens */

@media #{$screen-large} {
    .news {
        flex-basis: 320px;
        flex-shrink: 0;
        flex-grow: 0;
        padding-left: 30px;
        margin: 0;
        display: flex;
        align-items: flex-end;
        .news--date {
            position: static;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .chevronWrapper {
            display: block;
            position: relative;
            &--icon {
                display: inline-block;
                margin: auto;
                &.open {
                    transform: rotate(-45deg);
                }
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 1px;
                border-bottom-width: 1px;
                border-bottom-color: $color-leadingBlack;
                border-bottom-style: solid;
            }
        }
    }
    .news--item:first-of-type {
        @include position-absolute(top, 0, right, 0);
        strong {
            padding-top: 0;
        }
    }
    .news--item:nth-of-type(2) {
        @include position-absolute(top, 30%, right, 0);
    }
    .news--item:last-of-type {
        @include position-absolute(top, 62%, right, 0);
    }
    .news--item--body {
        text-align: center;
        transition: max-height 300ms linear;
    }
    .news--item:first-of-type,
    .news--item:nth-of-type(2) {
        .news--item--body {
            max-height: 72px;
            overflow: hidden;
            text-align: center;
        }
    }
    .news--item {
        width: 290px;
        height: auto;
        margin: 0;
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        z-index: 1;
        &.rolled {
            opacity: 0;
        }
        &.extended {
            max-height: auto;
            height: 64%;
            z-index: 6;
        }
        &.extended .news--item--body {
            max-height: 600px;
            overflow: visible;
        }
    }
    .newsDivider,
    .mainDivider {
        display: none;
    }
}


/* for layout preservation -specific media queries */

@media screen and(max-width: 1019px) and(min-width: 900px) {
    .news--item:first-of-type,
    .news--item:nth-of-type(2) {
        .news--item--body {
            max-height: 52px;
        }
    }
}