.news {
    margin-top: 50px;
    &>.newsDivider {
        display: none;
    }
    &--item {
        margin-top: 30px;
        margin-bottom: 30px;
        strong {
            padding-top: 20px;
            font-size: 1.05rem;
            font-family: baseFont-bold;
            color: $color-leadingRed;
            display: block;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    }
}

.chevronBottom {
    display: none;
}

.newsDivider {
    border-top: 0.5px solid lightgrey;
}

.chevronWrapper {
    display: none;
    text-align: center;
    &--icon {
        width: 15px;
        height: 15px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $color-leadingRed;
        transform: rotate(135deg);
        margin: auto;
        transition: all 300ms ease-in-out;
    }
}


/* medium screens */

@media #{$screen-medium} {
    .news {
        display: flex;
        flex-wrap: wrap;
        &>.newsDivider {
            width: 100%;
            display: block;
        }
        .news--item .newsDivider {
            display: none;
        }
        &>.news--item {
            flex: 1;
            padding-left: 40px;
        }
        .news--top {
            padding-right: 40px;
        }
        .news--date {
            width: 100%;
            order: 4;
        }
    }
}


/* medium & large screens */

@media #{$screen-mediumANDlarge} {
    .news {
        display: block;
        position: relative;
    }
    .news--item:first-of-type,
    .news--item:nth-of-type(2) {
        height: 50%;
    }
    .news--item:nth-of-type(3) {
        @include position-absolute(top, 10px, right, 0);
        height: 100%;
    }
    .news--item:nth-of-type(3) .news--item--body {
        margin-bottom: 0;
    }
    .news--item {
        width: 50%;
        margin: 0;
    }
    .news .news--date {
        text-align: right;
    }
}


/* large screens */

@media #{$screen-large} {
    .news {
        flex-basis: 320px;
        flex-shrink: 0;
        flex-grow: 0;
        padding-left: 30px;
        margin: 0;
        &,
        .news--date {
            text-align: center;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .news--item:first-of-type {
            margin-top: 0;
            strong {
                padding-top: 0;
            }
        }
        .news--item:first-of-type,
        .news--item:nth-of-type(2) {
            .news--item--body {
                margin-bottom: 5px;
                max-height: 2.2rem;
                overflow: hidden;
                transition: max-height 300ms ease-in-out;
            }
        }
        .news--item:nth-of-type(3) {
            position: static;
            top: initial;
            right: initial;
        }
        .news--item:nth-of-type(3) .news--item--body {
            margin-bottom: 0;
        }
        .news--item {
            width: 100%;
            height: 32%;
            margin: 0;
            &.rolled {
                max-height: 0;
                overflow: hidden;
                height: 0;
            }
            &.extended {
                max-height: 900px;
                height: 64%;
            }
            &.extended .news--item--body {
                max-height: 300px;
            }
        }
        .chevronWrapper {
            display: block;
            &--icon {
                display: inline-block;
                margin: auto;
                &.open {
                    transform: rotate(-45deg);
                }
            }
        }
        .chevronWrapper:after {
            content: '';
            bottom: 0;
            left: 50%;
            width: 100px;
            height: 1px;
            border-bottom: 1px solid $color-leadingBlack;
        }
    }
    .newsDivider,
    .mainDivider {
        display: none;
    }
}