/*
*  GLOBAL SETTINGS
*/


/* SCREEN SIZES: 
* sm - small: 360px - 599px
* md - medium: 600px - 899px
* lg - large: above 900px;
*/

$screen-small: "screen and (min-width: 900px)";
$screen-medium: "screen and(max-width: 899px) and (min-width: 600px) ";
$screen-mediumANDlarge: "screen and (min-width: 600px)";
$screen-large: "screen and (min-width: 900px)";

/* fonts */

@font-face {
    font-family: baseFont-light;
    src: url('../assets/fonts/aldine721/0804eu27-webfont.woff');
}

@font-face {
    font-family: baseFont-normal;
    src: url('../assets/fonts/aldine721/0112eu27-webfont.woff');
}

@font-face {
    font-family: baseFont-bold;
    src: url('../assets/fonts/aldine721/0114eu27-webfont.woff');
}

@font-face {
    font-family: logoFont;
    src: url('../assets/fonts/longtallsally/LongTall.ttf');
}

$font-loginForm: Arial,
Helvetica,
sans-serif;

/* colors */

$color-leadingRed: rgb(210,
32,
39);
$color-leadingBlack: rgb(35,
31,
32);
$color-navMobile-background: rgb(245,
245,
245);
$color-loginForm-grey: rgb(145,
143,
144);
$color-faceBook: rgb(60,
82,
158);
$color-googlePlus: rgb(231,
55,
53);
$color-googlePlus-shadow: rgb(223,
38,
35);

/* mixins */

@mixin position-absolute($sideA,
$sideAPosition,
$sideB,
$sideBPosition) {
    position: absolute;
    #{$sideA}: $sideAPosition;
    #{$sideB}: $sideBPosition;
}

@mixin position-absolute-centeredInParentRelative($fromTop: 50%) {
    position: absolute;
    top: $fromTop;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* sprites */


/* sprites - social icons */

.loginbtn-fb,
.loginbtn-gp,
.magnify,
.flag-gb,
.flag-pl,
.social-fb,
.social-inst,
.social-lin,
.social-twb,
.social-yt {
    width: auto;
    height: 25px;
    background-size: 100%;
    background-image: url('../assets/images/css_sprites.png');
    margin-right: 4px;
    margin-left: 5px;
    transition: all 300ms ease-in-out;
}


/* settings */

* {
    box-sizing: border-box;
}

body {
    font-family: baseFont-normal;
    font-size: 1rem;
    width: 100%;
}

b {
    font-family: baseFont-bold;
}

a {
    text-decoration: none;
    color: $color-leadingBlack;
}

.logoFont {
    font-family: logoFont;
    font-weight: 100;
    letter-spacing: 3px;
}